Source: woudc-data-registry
Section: python
Priority: optional
Maintainer: WOUDC <ec.woudc.ec@canada.ca>
Build-Depends: debhelper (>= 9), python3 (>= 3.8), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 3.8
Vcs-Git: https://github.com/woudc/woudc-data-registry.git

Package: woudc-data-registry
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, elasticsearch (>= 8.12.0), postgresql, python3-click, python3-elasticsearch, python3-psycopg2, python3-requests, python3-sqlalchemy, woudc-extcsv
Homepage: https://woudc.org
Description: WOUDC Data Registry is a platform that manages Ozone and
 Ultraviolet Radiation data in support of the World Ozone and Ultraviolet
 Radiation Data Centre (WOUDC), one of six World Data Centres as part of the
 Global Atmosphere Watch programme of the WMO.
